name: Code style

on:
  push:

jobs:
  prettier:
    name: Code style
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          cache: "yarn"

      - run: npm install

      - run: npx prettier --check .
